@import "~bootstrap/scss/bootstrap";
@import './variables.scss';

html, body {
  font-size: 10.5px;
  @include for-tablet-portrait-up {
    font-size: 12.5px;
  }
  @include for-tablet-landscape-up {
    font-size: 13.5px;
  }
  @include for-desktop-up {
    font-size: 14.5px;
  }
  @include for-big-desktop-up {
    font-size: 16;
  }
}

body {
  margin: 0;
  font-family: 'Noto Sans HK', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
