@import "../../variables.scss";

.search {
    .search-wrap {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: $light-gray-color;
        line-height: 0.5rem;
        cursor: pointer;
        &:hover {
            color: $white-color;
            background-color: $primary-color;
        }
    }
    .search-bar {
        position: absolute;
        width: 100%;
        height: fit-content;
        z-index: 9;
        left: 0;
        top: 1.3rem;
        margin: 0;
        padding: 0 0.5rem;
        line-height: 1rem;
        font-size: 1rem;
        color: $body-font-color;
        .input-group {
            background-color: $white-color;
            margin-bottom: 0 !important;
            svg.close-icon {
                color: $dark-gray-color;
                margin: 0.5rem 0.25rem 0.5rem 0.5rem;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .list-group {
            .list-group-item {
                > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        min-width: 2rem;
                        object-fit: contain;
                        border-radius: 50%;
                        margin: 0.2rem;
                        max-width: 3rem;
                    }
                    .avatar-icon {
                        padding: 0.35rem;
                        height: 2.65rem;
                        width: 2.65rem;
                        border-radius: 50%;
                        fill: $white-color;
                        background: $dark-gray-color;
                    }
                    .result-name {
                        flex: 1 0 60%;
                        padding: 0 0.5rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
